<html>

<head>
    <meta charset="UTF-8">
    <title>Urgent Received</title>
</head>

<body>
        <h5>Please be informed that your enquiry has been received and our Redimed staff will contact you shortly.</h5>
    <table>
    <tr>
        <td>
            <%=urgentRequestType%>
        </td>
    </tr>
        <tr>
            <td>
                Request Date:
            </td>
            <td>
                <%=requestDate%>
            </td>
        </tr>
        <tr>
            <td>
                Patient Name:
            </td>
            <td>
                <%=patientName%>
            </td>
        </tr>
        <tr>
            <td>
                Phone Number:
            </td>
            <td>
                <%=phoneNumber%>
            </td>
        </tr>
        <tr>
            <td>
                Suburb:
            </td>
            <td>
                <%=suburb%>
            </td>
        </tr>
        <tr>
            <td>
                DOB:
            </td>
            <td>
                <%=DOB%>
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <%=email%>
            </td>
        </tr>
        <tr>
            <td>
                GP Referral:
            </td>
            <td>
                <%=GPReferral%>
            </td>
        </tr>
        <tr>
            <td>
                Service Type:
            </td>
            <td>
                <%=serviceType%>
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <%=description%>
            </td>
        </tr>
    </table>
</body>

</html>
