<html>

<head>
    <meta charset="UTF-8">
    <title>Urgent Request</title>
</head>

<body>
    <table>
        <tr>
            <td>
                UrgentCare Type:
            </td>
            <td>
                <%=urgentRequestType%>
            </td>
        </tr>
         <tr>
            <td>
                Request Date:
            </td>
            <td>
                <%=requestDate%>
            </td>
        </tr>
        <tr>
            <td>
                Patient Name:
            </td>
            <td>
                <%=patientName%>
            </td>
        </tr>
        <tr>
            <td>
                Phone Number:
            </td>
            <td>
                <%=phoneNumber%>
            </td>
        </tr>
        <tr>
            <td>
                Suburb:
            </td>
            <td>
                <%=suburb%>
            </td>
        </tr>
        <tr>
            <td>
                DOB:
            </td>
            <td>
                <%=DOB%>
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <%=patientEmail%>
            </td>
        </tr>
        <tr>
            <td>
                GP Referral:
            </td>
            <td>
                <%=GPReferral%>
            </td>
        </tr>
        <tr>
            <td>
                Service Type:
            </td>
            <td>
                <%=serviceType%>
            </td>
        </tr>
        <% if(treatment==='Y'){%>
            <tr>
                <td>
                    Treatment Type:
                </td>
                <td>
                    <%=treatmentType%>
                </td>
            </tr>
        <%}%>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <%=description%>
            </td>
        </tr>
        <tr>
            <td>
                Company Name:
            </td>
            <td>
                <%=companyName%>
            </td>
        </tr>
        <tr>
            <td>
                Contact Person:
            </td>
            <td>
                <%=contactPerson%>
            </td>
        </tr>
        <tr>
            <td>
                Company Phone:
            </td>
            <td>
                <%=companyPhoneNumber%>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" href="<%=confirmed %>">Click to confirm</a>
            </td>
        </tr>
    </table>
</body>

</html>
