<html>

<head>
    <meta charset="UTF-8">
    <title>Important - completing Medical History</title>
</head>

<body>
	<span>Dear Candidate</span><br/>
	<div>
		You have been booked for a Health Screening assessment with REDIMED.
		Prior to your appointment with REDIMED, you will need to complete your Medical History through our online system.
	</div><br/>
    <div>Username: <%= userInfo.UserName %></div><br/>
    <div>Password:  Please reset your password for first time using the online system <a href="<%=url%>/#/changepass/<%=userInfo.UID%>/<%=token%>" target="_blank"><%=token%></a></div><br/>
    <br/>
    <a href="<%=url%>">Click to login Redimed</a>
    <div>
    	Please complete this prior to your appointment, as this will ensure your appointment runs on time.
		If it is not completed, we may be unable to complete your appointment and you will be rescheduled.
    </div><br/>
    <div>
    	Thank you for your cooperation and we look forward to seeing you shortly.
    </div><br/>
    <div>Kind regards</div><br/>
    <div>REDIMED Team</div><br/>
</body>
</html>